@page
@model LaundryMidlePlatform.Pages.TypePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type[0].TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Type) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
